{% extends 'base.html' %}

{% block content %}
<div class="{{ content_class|default('container py-4 px-2 px-md-4 mx-auto container-standard') }}">
  {% include 'components/common/page_title.html' %}
  
  <div class="{{ grid_class|default('row row-cols-1 row-cols-md-3 g-4') }}">
    {% for card in cards %}
      <div class="col">
        {% set href = card.href %}
        {% set logo_src = card.logo_src %}
        {% set logo_alt = card.logo_alt %}
        {% set title = card.title %}
        {% set subtitle = card.subtitle %}
        {% set badge_text = card.badge_text %}
        {% set card_class = card.card_class %}
        {% include 'components/common/cards.html' %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
