{% extends 'base.html' %}

{% block content %}
<div class="{{ content_class|default('container py-4 px-2 px-md-4 mx-auto container-narrow') }}">
  {% if title %}
    {% include 'components/common/page_title.html' %}
  {% endif %}
  
  {% set image_src = url_for('static', filename=card_data.image_src) %}
  {% set image_alt = card_data.image_alt %}
  {% set card_title = card_data.card_title %}
  {% set card_text = card_data.card_text %}
  {% include 'components/common/horizontal_card.html' %}
</div>
{% endblock %}
