{% extends "base.html" %}
{% block title %}me2u{% endblock %}

{% block content %}
<main class="center-wrapper">
  <div class="logo-text-col">
    <div class="click-me">
      <img src="{{ url_for('static', filename='images/icons/stat_minus_3_45dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png') }}" alt="Arrow" class="arrow-img" />
      <span>Click me!</span>
      <img src="{{ url_for('static', filename='images/icons/stat_minus_3_45dp_FFFFFF_FILL0_wght400_GRAD0_opsz48.png') }}" alt="Arrow" class="arrow-img" />
    </div>
    <a href="{{ url_for('routes.render_index') }}">
      <img src="{{ url_for('static', filename='images/logos/logo-alan.png') }}" alt="Logo" class="logo" />
    </a>
    <h1 class="tagline">meet me, me2u</h1>
  </div>
</main>
{% endblock %}